a:hover{
    font-size: 18px;
}

body{
    background-image: url("../img/pants.jpg");
    margin: 0px;

}

footer{
   background-color: #373839;
   height: 80px;
   width: 100%;
   padding-top: 40px;
   position: relative;
   box-shadow: 1px -10px 38px -2px rgba(0,0,0,0.32);
}

h2{
    font-family: 'Raleway';
    text-align: center;
    color: #e88736;
    text-transform: uppercase;
    margin: 50px 0px 10px 0px; 
    font-size: 25px;
}

h3{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-left: 13%;

}

h6{
    margin: 0px 0px 25px 0px;
    text-transform: uppercase;
    font-size: 13px;
    color: gray;
    text-align: center;
    font-family: 'Raleway'
}

li{
    list-style-type: decimal;
    margin-left: 12%;
    margin-right: 13%;
    font-family: 'Raleway';
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: lighter;
}

p{
    font-family: 'Enriqueta';
    font-size: 18px;
    color:    #303030;
}

.cabecera{
    background: whitesmoke;
    margin: 0px;
    padding: 25px;
    text-align: center;
    font-family: 'Raleway';
}

.centrar{
    margin-left: 13%;
    margin-right: 13%;
    width: 640px;
}

.comentarios{
    margin-left: 10%;
    margin-right: 10%;
}

.contenido{
    background: white;
    margin-top: 0px;
    padding-top: 40px;
    text-align: justify;
    margin-left: 18%;
    margin-right: 15%;
    padding-bottom: 30px;
}

.foto{
    border-radius: 50%;
    height: 290px;
    width: 290px;
    float: left;
    margin-left: 50px; 
    margin-top: 30px;
}

.inicial{
    font-weight: bold;
    color:  #bc7500 ;
    font-size: 39px;
    margin-left: 18px;
    font-style: italic;
    text-shadow: 3px 3px  #a3a3a3;
}

.lista-s1{
    margin-left: 12%;
    margin-right: 13%;
    font-family: 'Enriqueta';
    list-style-type: circle;
    font-size: 17px;
}

.lista-s2{
    margin-left: 12%;
    margin-right: 13%;
    font-family: 'Enriqueta';
    font-style: italic;
    list-style-type: circle;
    font-size: 17px;
}

.logo{
    height: 47px;
    width: 47px;
}

.negrita{
    font-weight: bold;
}

.primero{
    overflow: auto;
}

.principal{
    height: 580px;
    width: 100%;
}

.p-centro{
    text-align: justify;
    margin-left: 13%;
    margin-right: 13%;
}

.p-derecho{
    float: right;
    width: 50%;
    margin-right: 70px;
    text-align: justify;
}

.p-pequeño{
    font-size: 15px;
    font-style: italic;
    color: gray;
    margin-left: 16%;
    margin-right: 16%;
}

.sangria{
    margin-left: 30px;
}

.submenus{
    text-transform: uppercase;
    font-weight: bold;
    color: #e88736;
    font-size: 13px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
}

.resaltado{
    color: black;
}

.text-footer{
  color: white;
  font-weight: bold;
  margin: 0px;
  font-size: 15px;
  text-align: center;
  font-family: 'Raleway';
}

.titulo{
    margin-top: 0px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 25px;
}

#obra1{
    width: 300px;
    height: 400px;
    margin-left: 34%;
}